*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    transition: background 0.5s ease;

}

#bg-switch{
    position: fixed;
    top: 25px;
    left: 30px;
    border-radius: 60%;
    border: none;
    padding: 25px 30px;
    cursor: pointer;

     /* soft pastel gradient */
    background: linear-gradient(145deg, #ff9a9e, #fad0c4);

    /* realistic shadow */
    box-shadow: 
        6px 6px 12px rgba(0, 0, 0, 0.2),
        -6px -6px 12px rgba(255, 255, 255, 0.6);

        transition: all 0.2s ease;

}

#bg-switch:active {
    box-shadow: 
        inset 4px 4px 8px rgba(0,0,0,0.2),
        inset -4px -4px 8px rgba(255,255,255,0.6);

    transform: scale(0.95);
}

.outerframe{
    background-color: rgb(228, 153, 178);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: rgb(255, 253, 253);
    background-color: rgba(255, 255, 255, 0.30);
    border-radius: 2em;
    padding: 4em 3em;
}

.title{
    font-size: 3em;
}

hr{
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 1em;
    border: none;
}

.timer{
    font-size: 10em;
    font-weight: 700;
}

.button-wrapper{
    display: flex;
    gap: 1em;
}

button{
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    transform: translate(-10px);
}